<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tutorial_Crystal_Reports_C.Properties.Settings.NeptunoConnectionString"
            connectionString="Data Source=1CAE-GUA-PC152\SQLEXPRESS;Initial Catalog=Neptuno;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>